VITE_API_BASE_URL=http://localhost:8080
VITE_WEBRTC_CONFIG=
TRITON_GRPC_URL=triton:8001
POSE_MODEL_NAME=rtmpose
POSE_INPUT_NAME=image
POSE_OUTPUT_NAME=keypoints
POSE_TARGET_FPS=10
POSE_USE_SYSTEM_MEMORY=1
POSE_MOCK_MODE=1
RTMPOSE_ONNX_URL=
RTMPOSE_ONNX_PATH=/models/rtmpose/1/model.onnx
